# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Config local
appsettings.*.json
secrets.json

# Docker
**/.container/
**/docker-compose.override.yml

# Build results
*.dll
*.exe
*.app
*.pdb

# Mac system files
.DS_Store
